@charset "UTF-8";

html,body {
  height: 100%;
  width: 100%;
  text-align: center;
  scroll-behavior: smooth;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.str {
   font-family: 'Vollkorn', serif;
}

h3{
  font-family: 'Vollkorn', serif;
  margin: 20px;
}

#home {
  height: auto;
}

#width {
  width: 1200px;
  margin: 0 auto;
}

/*----------------------------------------------------
　Header
----------------------------------------------------*/
header {
  /* margin: 0;
  padding: 0; */
  height: auto;
  background-color: #D0A48A;
}

h1 {
  margin: 0;
  font-family: 'Vollkorn', serif;
  color: #FFFFFF;
  padding: 10px 0 15px 0;
}

/*----------------------------------------------------
　Footer
----------------------------------------------------*/
footer{
  height: auto;
  background-color: #D0A48A;
  display: flex;
  justify-content: center;
}

#logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo img {
  width: 70px;
  height: 70px;
  display: block;
  margin: 0 auto;
}

#name{
  display: flex;
  align-items: center; 
  justify-content: center; 
  width: 20%;
  /* margin: 30px 30px 30px 50px; */
}

#footer_link {
  display: flex;
  align-items: center; 
  justify-content: center; 
}

#footer_link ul {
  list-style: none;
  padding: 0;
  /* margin: 50px 30px 30px 200px; */
  display: flex;
  justify-content: center;
}

#Insta {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

#line {
  width: 45px;
  height: 45px;
}